<!DOCTYPE html>
<#assign ctx=req.contextPath />
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>年度重点工作</title>
    <link href="${ctx}/plugins/layui/css/layui.css" rel="stylesheet" />
    <script src="${ctx}/plugins/layui/layui.js"></script>
    <link href="${ctx}/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<style>
    html, body {
        height: 100%;
    }

    div {
        -moz-box-sizing: border-box; /*Firefox3.5+*/
        -webkit-box-sizing: border-box; /*Safari3.2+*/
        -o-box-sizing: border-box; /*Opera9.6*/
        -ms-box-sizing: border-box; /*IE8*/
        box-sizing: border-box; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
    }

    .layui-form-item {
        margin-bottom: 0px
    }

    .layui-table, .layui-table-view {
        margin: 0px 0;
    }
</style>
<body class="layui-layout-body" style="padding: 10px">

<form class="layui-form" id="query">
    <div class="layui-form-item">
        <div class="layui-inline">
            <input class="layui-input" type="text" placeholder="标题" name="title" id="title">
        </div>
        <div class="layui-inline">
            <input class="layui-input" type="text" placeholder="提交时间" name="createtime" id="createtime">
        </div>

        <div class="layui-inline">
            <a class="layui-btn layui-btn-primary" lay-submit="" lay-filter="query" datatype="reload">查询</a>
        </div>
    </div>
</form>

<div style="height:100%">
    <table class="layui-hidden layui-table" id="dataTable" lay-filter="dataTable"></table>
</div>

</body>
<script type="text/html" id="rightBar">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="sh" title="审核">
            <i class="fa fa-file-text-o"></i>
        </a>

        <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="send" title="选择发送人">-->
            <!--<i class="fa layui-icon-friends"></i>-->
        <!--</a>-->
    </div>
</script>

<script>
    var editObj = null, ptable = null, treeGrid = null, tableId = 'dataTable', layer = null, form = null,$=null;
    layui.use(['table','laydate'], function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#createtime'
        });

        var table = layui.table;
        $=layui.jquery;
        form = layui.form;
        table.render({
            elem: '#' + tableId
            , url: '${ctx}/swgl/zdgz/zdgzsh'//后台接受路径
            , page: true
            , id: tableId
            , height: 'full-80'
            , method: 'get'
            , cols: [[
                {field: '序号',width:50,fixed:'left',type:'numbers',title:'序号'}
                ,{field: 'title', title: '标题'}
                ,{field: 'content', title: '工作内容'}
                ,{field: 'submitterName', width: 140, title: '提交人'}
                , {field: 'createtime', width: 150, title: '提交时间'}
                // , {field: 'attachment_id', width: 140, title: '附件'}

                ,{
                    title: '操作', align: 'center',width: 170,
                    toolbar: '#rightBar'
                }
            ]]
        });

        //点击行事件
        table.on('tool(' + tableId + ')', function (obj) {
            var data = obj.data;
            console.log(data);
            var action = obj.event;
            if (action == 'del') {
                var index;
                $.ajax({
                    type: "post",
                    data: {j_id: data.j_id},
                    url: "${ctx}/",
                    beforeSend: function () {
                        index = layer.load(1);
                    },
                    success: function (data) {
                        layer.close(index);
                        if (data > 0) {
                            layer.msg("删除成功", {offset: ['50%'], time: 1000}, function () {
                                table.reload(tableId)
                            });
                        } else {
                            layer.msg("操作失败")
                        }
                    },
                    error: function (data) {
                        layer.msg("服务端异常");
                    }
                });

            } else if(action == 'sh'){
                var auditter = data.auditter.split('#')[1];
                var url = "${ctx}/swgl/zdgz/zdgzshpage?attach_id="+data.attach_id
                    +"&content="+data.content
                    +"&createtime="+data.createtime
                    +"&id="+data.id
                    +"&submitter="+data.submitter
                    +"&submitterName="+data.submitterName
                    +"&title="+data.title
                    +"&auditter="+auditter;
                var index = layer.open({
                    title:"重点工作审核",
                    type: 2,
                    fixed: false, //不固定
                    maxmin: true,
                    content: url,
                    end: function(){
                        table.reload(tableId)
                    }
                });
                layer.full(index);
            }else if(action == 'send'){//选择重点工作的执行人
                var result = true;
                if(data.audit_state == 0){
                    layer.msg("该工作尚未被审核");
                    result = false;
                    return;
                }else if(data.audit_state == 2){
                    layer.msg("该工作审核不通过");
                    result = false;
                    return;
                }else if(data.distribution_state == 1){
                    layer.msg("该工作已被指派");
                    result = false;
                    return;
                }
                if(result == true){//弹出人员树,选择工作负责人

                    layer.open({
                        type: 2,
                        area: ['728px', '516px'],
                        title: false,
                        offset: '15px',
                        // content: '${ctx}/swgl/gzrz/empTree?key=journal&formkey=receiver',
                        content: '${ctx}/grgzt/fqlc/spr?key=zdgzfs&formkey=zdgzprincipal',
                        end: function () {
                            // getSprs("spr_add", "spr", "receiver");
                        }
                    })

                }
            }
        });

        form.on('submit(query)', function (data) {
            table.reload(tableId, {
                where: data.field
            });
            return false;
        });

    });

    function add() {
        var url = "${ctx}/swgl/zdgz/zdgzsh";
        var table = layui.table;
        layer.open({
            title: '重点工作审核',
            type: 2,
            offset: '50px',
            area: ['1135px', '630px'],
            content: url,
            end: function () {
                table.reload(tableId)
            }
        });
    }
</script>
</html>