<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>用户管理2233</title>
    <link href="${ctx}/plugins/layui/css/layui.css" rel="stylesheet" />
    <link href="${ctx}/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<style>
    html, body {
        height: 100%;
    }
    .layui-form-item {
        margin-bottom: 0px
    }

    .layui-table, .layui-table-view {
        margin: 0px 0;
    }
    #pop{margin: 12px auto 0;}
    #pop .layui-form-item{display: flex;align-items: center;}
    #pop .layui-form-item>.layui-inline{width: 320px;}
    #lc_upload_btn{margin: 0 auto;}
</style>
<body class="layui-layout-body" style="padding: 10px">

<form class="layui-form" id="query">
    <div class="layui-form-item">
        <div class="layui-inline">
            <input class="layui-input" type="text" placeholder="流程名称" name="name">
        </div>
        <div class="layui-inline">
            <a class="layui-btn layui-btn-primary" lay-submit="" lay-filter="query" datatype="reload">查询</a>
            <a class="layui-btn layui-btn-primary" onclick="deploy();">流程部署</a>
        </div>
    </div>
</form>

<div style="height:100%">
    <table class="layui-hidden layui-table" id="dataTable" lay-filter="dataTable"></table>
</div>
<div class="pop" id="pop">
    <form class="layui-form layui-upload" lay-filter="pop">
        <div class="layui-form-item">
            <label class="layui-form-label">部署名称:</label>
            <div class="layui-inline">
                <input type="text" class="layui-input"> 
            </div>
        </div>
        <div class="layui-form-item">
                <label class="layui-form-label">文件上传:</label>
                <div class="layui-inline" style="margin-bottom:0;">     
                        <input type="text" class="layui-hide" name=""> 
                        <button type="button" class="layui-btn layui-btn-sm" id="lc_upload_btn">开始上传</button>                      
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" id="lc_upload">选择文件</button>
                </div>
        </div>
        
    </form>

</div>
</body>
<script type="text/html" id="rightBar">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">
            <i class="fa fa-pencil"></i>
        </a>
		{{# if(d.username != 'superadmin' ) { }}
        	<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">
            	<i class="fa fa-trash-o"></i>
        	</a>
			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="reset">
            	<i class="fa fa-rotate-left"></i>
        	</a>
		{{# } }}
    </div>
</script>
<script src="${ctx}/plugins/layui/layui.js"></script>
<script>
    var editObj = null, ptable = null, treeGrid = null, tableId = 'dataTable', layer = null, form = null,$=null;
    layui.use(['table','form','layer','upload'], function () {
        var table = layui.table;
        $=layui.jquery,
        form = layui.form,
        layer=layui.layer,
        upload=layui.upload;
        table.render({
            elem: '#' + tableId
            , url: '#'
            , page: true
            , id: tableId
            , height: 'full-80'
            , method: 'get'
            , cols: [[
                {field: '序号',width:50,fixed:'left',type:'numbers',title:'序号'}
                , {field: 'username', width: 150, title: '用户账号'}
                , {field: 'nickname', width: 150, title: '用户昵称'}
                , {field: 'createtime', width: 170, title: '创建时间'}
                , {field: 'remark', title: '备注'}
                , {field: 'email', width: 170, title: '邮件'}
                , {field: 'phone', width: 140, title: '手机号码'}
                , {
                    title: '操作', align: 'center',width: 170,
                    toolbar: '#rightBar'
                }
            ]]

        });
        //选完文件后不自动上传
        upload.render({
            elem: '#lc_upload'
            ,url: '/upload/'
            ,accept:'file'
            ,auto: false
            //,multiple: true
            ,bindAction: '#lc_upload_btn'
            ,done: function(res){
            console.log(res)
            }
        });
    });   
    //流程部署
    function deploy() {
        var table = layui.table;
        var index = layer.open({
            title: '流程部署',
            type: 1,
            area: ['490px', '300px'],
            fixed: false, //不固定
            maxmin: true,
            content: $("#pop"),
            end: function () {
                table.reload(tableId)
            }
        });
    }
</script>
</html>