<#assign ctx=req.contextPath />
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>菜单管理</title>
    <link href="${ctx}/plugins/layui/css/layui.css" rel="stylesheet" />
    <script src="${ctx}/plugins/layui/layui.js"></script>
    <link href="${ctx}/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<style>
    html,body{
        height: 100%;
    }
    div{
        -moz-box-sizing: border-box;  /*Firefox3.5+*/
        -webkit-box-sizing: border-box; /*Safari3.2+*/
        -o-box-sizing: border-box; /*Opera9.6*/
        -ms-box-sizing: border-box; /*IE8*/
        box-sizing: border-box; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
    }
    .layui-form-item{
        margin-bottom: 0px
    }
</style>
<body class="layui-layout-body" style="padding: 10px">
<form class="layui-form">
	<div class="layui-form-item">
	        <div class="layui-inline">
	        	<input class="layui-input" type="text" placeholder="菜单名称" name="title">		
	        </div>
	        <div class="layui-inline">
	        	<button class="layui-btn layui-btn-primary" lay-submit="" lay-filter="query">查询</button>
		 	 	<a class="layui-btn layui-btn-primary" onclick="openAll();">展开/折叠</a>
		 	 	<a class="layui-btn layui-btn-primary" onclick="openAll();">保存排序</a>
	        </div>
	</div>
</form>
<div style="height:100%">
    <table class="layui-hidden layui-table" id="treeTable" lay-filter="treeTable"></table>
</div>
<script>
    var editObj=null,ptable=null,treeGrid=null,tableId='treeTable',layer=null,form=null;
    layui.config({
        base: '${ctx}/plugins/layui/extend/'
    }).extend({
        treeGrid:'treeGrid'
    }).use(['jquery','treeGrid','layer','form'], function(){
        var $=layui.jquery;
        treeGrid = layui.treeGrid;//很重要
        layer=layui.layer;
        form=layui.form;
        ptable=treeGrid.render({
            id:tableId
            ,elem: '#'+tableId
            ,idField:'id'
            ,url:'${ctx}/xtgl/xtsz/cdgl/getall'
            ,cellMinWidth: 100
            ,treeId:'id'//树形id字段名称
            ,treeUpId:'parentid'//树形父id字段名称
            ,treeShowName:'title'//以树形式显示的字段
            ,height:'full-90'
            ,isFilter:false
            ,iconOpen:true//是否显示图标【默认显示】
            ,isOpenDefault:true//节点默认是展开还是折叠【默认展开】
            ,method:'get'
            ,cols: [[
                 {field:'title', width:500, title: '菜单名称',edit:'text'}
                ,{field:'sort', width:200, title: '排序',edit:'text'}
                ,{field:'status', width:300, title: '状态',templet:function(d){
                	 var html='';
                	 if(d.status == 0){
                		 html = "隐藏"
                	 }else{
                		 html = "显示"
                	 }
                	 return html
                }}
                ,{width:150,title: '操作', align:'center'/*toolbar: '#barDemo'*/
                    ,templet: function(d){
                        var html='';
                        	html +='<button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i class="fa fa-pencil"></i></button>';
                        	html +='<button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del"><i class="fa fa-trash-o"></i></button>';
                        if(d.level != '3'){
                        	html +='<button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="add"><i class="fa fa-plus-square-o"></i></button>';
                        }
                        return html;
                    }
                }
            ]]
            ,parseData:function (res) {//数据加载后回调
                return res;
            }
            ,onClickRow:function (index, o) {
                console.log(index,o,"单击！");
            }
            ,onDblClickRow:function (index, o) {
                console.log(index,o,"双击");
            }
        });
        //点击行事件
        treeGrid.on('tool('+tableId+')',function (obj) {
            if(obj.event === 'del'){//删除行
                del(obj);
            }else if(obj.event==="add"){//添加行
                add(obj);
            }else if(obj.event==="edit"){//编辑
            	layer.open({
            		  type: 2,
            		  area: ['700px', '450px'],
            		  fixed: false, //不固定
            		  maxmin: true,
            		  content: '${ctx}/xtgl/xtsz/cdgl/edit'
            		});           	
            }
        });
        
        form.on('submit(query)', function(data){
        	treeGrid.reload(tableId,{
        		where:data.field
            });
            return false;
        });

    });
    
   

    function del(obj) {
        layer.confirm("你确定删除数据吗？如果存在下级节点则一并删除，此操作不能撤销！", {icon: 3, title:'提示'},
            function(index){//确定回调
                obj.del();
                layer.close(index);
            },function (index) {//取消回调
               layer.close(index);
            }
        );
    }


    var i=1000000;

    function print() {
        console.log(treeGrid.cache[tableId]);
        var loadIndex=layer.msg("对象已打印，按F12，在控制台查看！", {
            time:3000
            ,offset: 'auto'//顶部
            ,shade: 0
        });
    }
    
    function openorclose() {
        var map=treeGrid.getDataMap(tableId);
        var o= map['102'];
        treeGrid.treeNodeOpen(o,!o[treeGrid.config.cols.isOpen]);
    }


    function openAll() {
        var treedata=treeGrid.getDataTreeList(tableId);
        treeGrid.treeOpenAll(tableId,!treedata[0][treeGrid.config.cols.isOpen]);
    }

    function getCheckData() {
        var checkStatus = treeGrid.checkStatus(tableId)
            ,data = checkStatus.data;
        layer.alert(JSON.stringify(data));
    }
    function radioStatus() {
        var data = treeGrid.radioStatus(tableId)
        layer.alert(JSON.stringify(data));
    }
    function getCheckLength() {
        var checkStatus = treeGrid.checkStatus(tableId)
            ,data = checkStatus.data;
        layer.msg('选中了：'+ data.length + ' 个');
    }

    function reload() {
        treeGrid.reload(tableId,{
        });
    }
    
    function query() {
        treeGrid.query(tableId,{
            where:{
                name:'sdfsdfsdf'
            }
        });
    }
    
    function test() {
        var list=treeGrid.getDataList(tableId);
        var i=1;
        treeGrid.treeIconRender(tableId,list[0]);
    }
</script>
</body>
</html>