<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>KIT ADMIN</title>
    <link rel="stylesheet" href="${ctx}/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="${ctx}/plugins/font-awesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" href="${ctx}/css/app.css" media="all" />
    <link rel="stylesheet" href="${ctx}/css/themes/skin.css" media="all" id="skin" kit-skin />
    <script src="${ctx}/plugins/layui/layui.js"></script>
</head>

<body class="kit-theme">
    <div class="layui-layout layui-layout-admin kit-layout-admin">
        <div class="layui-tit">
            <div class="layui-name layui-inline">
                <#if syslogo !="1">
                    <img class="logo" src="${(syslogo)!''}">
                </#if>
                ${(sysname)!''}
            </div>
        </div>
        <div class="layui-header layui-header-on">
            <div class="layui-logo kit-logo-mobile">K</div>
            <p id="date" class="layui-header-time"></p>
            <ul id="ds" class="layui-nav layui-layout-left kit-nav"></ul>
            <ul class="layui-nav layui-layout-right kit-nav">
                <li>
                	<a href="javascript:;" kit-target data-options="{url:'${ctx}/message/message',icon:'&#xe658;',title:'全部消息',id:'qbxx'}" class="zdy-sys-msg" >
                		<i class="layui-icon layui-icon-notice"></i><span class="layui-badge" id="message">233</span>
                	</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://m.zhengjinfan.cn/images/0.jpg" class="layui-nav-img">${USER.nickname}
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" kit-target data-options="{url:'${ctx}/grzx/grzx',icon:'&#xe658;',title:'个人中心',id:'grzx'}"><span>个人中心</span></a></dd>
                        <dd><a href="javascript:;" kit-target data-options="{url:'${ctx}/grzx/xgmm',icon:'&#xe658;',title:'修改密码',id:'xgmm'}"><span>修改密码</span></a></dd>
                        <dd><a href="logout"><span>注销</span></a></dd>
                    </dl>
                </li>

            </ul>
        </div>

        <div class="layui-side layui-bg-black kit-side">
            <div class="layui-side-scroll">
                <div class="kit-side-fold"><i class="fa fa-navicon" aria-hidden="true"></i></div>
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="kitNavbar" kit-navbar></ul>
            </div>
        </div>

        <div class="layui-body" id="container">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;"><i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop">&#xe63e;</i> 请稍等...
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            2017 &copy;
            <a href="http://kit.zhengjinfan.cn/">kit.zhengjinfan.cn/</a> MIT license
        </div>
    </div>
</body>

</html>
<script>
    var message;
    layui.config({
        base: '${ctx}/js/',
        version: '1.0.1'
    }).use(['app', 'message', 'tab'], function() {
        var app = layui.app,
            $ = layui.jquery,
            tab = layui.tab,
            layer = layui.layer;
        //将message设置为全局以便子页面调用
        message = layui.message;

        //主入口
        app.set({
            type: 'iframe',
            r_id: "${(USER.r_id)!'superadmin'}",
            menu: "${(menu)!'1'}"
        }).init();

        window.addTab = function(options) {
            tab.tabAdd(options)
        }

        window.closeTab = function(layId) {
            tab.close(layId)
        }

        //点击导航增加样式
        $(".layui-nav-tree").on('click', 'a[kit-target]', function() {
            $(this).parents().find('a').removeClass('layui-active');
            $(this).addClass('layui-active');
        })
    });

    function changepass() {
        var url = "${ctx}/xtgl/zzgl/yhgl/editPassPage";
        var index = layer.open({
            title: "修改密码",
            type: 2,
            area: ["800px", "400px"],
            content: url,
            end: function() {
                window.location.href = 'logout';
            }
        });
    }
</script><script type="text/javascript">
    var websocket = null;
    //判断当前浏览器是否支持WebSocket
    if('WebSocket' in window){
       	websocket = new WebSocket('ws://' + window.location.host + '/message/${USER.u_id}');
    }else{
        alert('Not support websocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function(){
        setMessageInnerHTML("error");
    };

    //连接成功建立的回调方法
    websocket.onopen = function(event){
    }

    //接收到消息的回调方法
    websocket.onmessage = function(event){
    	console.log(event.data)
        setMessageInnerHTML(event.data);
    }

    //连接关闭的回调方法
    websocket.onclose = function(){
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function(){
        websocket.close();
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML){
        document.getElementById('message').innerHTML = innerHTML;
    }

    //关闭连接
    function closeWebSocket(){
        websocket.close();
    }

    //发送消息
    function send(){
        var message = document.getElementById('text').value;
        websocket.send(message);
    }
</script>