<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用印流程</title>
	<link href="${ctx}/plugins/layui/css/layui.css" rel="stylesheet" />
	<link rel="stylesheet" href="${ctx}/plugins/font-awesome/css/font-awesome.min.css" media="all" />
	<link rel="stylesheet" href="${ctx}/plugins/ztree/css/zTreeStyle/zTreeStyle.css">
	<style type="text/css">
		.layui-form-item{margin-bottom: 10px;}
    	.main{width:800px;margin: 1% auto 0;}
		.img-up-box,#spr{max-width: 500px;height: auto;display:flex;align-items: flex-end;flex-wrap: wrap;}
		.img-up-box .img-box{position: relative;display: inline-block;width: 80px;height:80px;border: 1px solid #e6e6e6;margin-right: 8px;margin-top: 8px;}
		.img-up-box .img-box .img-close{position: absolute;top: -7px;right: -7px;font-size: 12px;color: #fff;border-radius: 20px;width: 16px;height: 16px;background-color: #000;text-align: center;line-height: 16px;}
		.img-up-box .img-box>img{width: 100%;height:100%;}
		#img_up,#spr_add{width: 80px;height:80px;border: 1px solid #e6e6e6;text-align: center;line-height: 80px;font-size: 28px;color: #e6e6e6;background-color: #fff;}
		#spr{align-items:flex-start;}
		#spr_add{width: 70px;height: 70px;line-height: 70px;border-radius: 1000px;}
		.spr-select{text-align: center;position: relative;margin-right: 15px;display: inline-block;}
		.spr-box{color: #fff;text-align: center;background-color: cornflowerblue;border-radius: 1000px;font-size: 12px;width: 70px;height: 70px;display: flex;flex-direction: column;justify-content: center;}
		.spr-close{cursor: pointer;position: absolute;top: 0;right: -7px;font-size: 12px;color: #fff;border-radius: 20px;width: 16px;background-color: #000;text-align: center;line-height: 16px;}
		#layer-photos{display:flex;align-items: center;max-width: 500px;flex-wrap: wrap;}
		#layer-photos img{width: 80px; height: 80px;display: block;margin-right: 5px;margin-bottom: 5px;}
	</style>
</head>

<body>
		<!-- ${(form!'开发中')} -->
	<form class="layui-form main layui-upload" lay-filter="chapter">
       <div class="layui-form-item">
           <label class="layui-form-label"><span style="color:red;">*</span>经手人</label>
           <div class="layui-input-inline">
               <input type="text" name="sqr" lay-verify="required" readonly="readonly" placeholder="经手人" autocomplete="off" class="layui-input">
           	   <input type="hidden" name="u_id">
           </div>
           <label class="layui-form-label"><span style="color:red;">*</span>部门名称</label>
           <div class="layui-input-inline">
	            <select class="layui-input" name="bmmc" id="bmmc" lay-verify="required" lay-search></select>
        	</div>
       </div>
       <div class="layui-form-item">
           <label class="layui-form-label"><span style="color:red;">*</span>申请日期</label>
           <div class="layui-input-inline">
               <input type="text" name="sqrq" readonly="readonly" lay-verify="required" autocomplete="off" class="layui-input">
           </div>
           <label class="layui-form-label"><span style="color:red;">*</span>用印份数</label>
           <div class="layui-input-inline">
               <input type="text" name="yyfs" lay-verify="required" autocomplete="off" class="layui-input">
           </div>
       </div>
       <div class="layui-form-item">
        	<label class="layui-form-label"><span style="color:red;">*</span>用印类别</label>
            <div class="layui-input-inline">
               <input type="text" name="yylx" placeholder="用印类别" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
       </div>
       <div class="layui-form-item layui-form-text">
           <label class="layui-form-label">用印内容</label>
           <div class="layui-input-block">
               <textarea name="qjly" placeholder="用印内容" class="layui-textarea" style="width:500px;min-height: 70px;"></textarea>
           </div>
       </div>
       <div class="layui-form-item layui-form-text">
               <label class="layui-form-label"><span style="color:red;">*</span>审批人</label>
			<div class="layui-inline" id="spr">
				<div id="spr_add">
					<i class="fa fa-plus"></i>
				</div>
			</div>
       </div>
       <div class="layui-form-item">
           <div class="layui-input-block">
               <button class="layui-btn layui-btn-primary" lay-submit lay-filter="sq" id="sq">申请</button>
           </div>
       </div>
</form>
<ul id="yylx" class="ztree" style="margin-top:0; width:160px;"></ul>
</body>
<script src="${ctx}/plugins/ztree/js/jquery-1.4.4.min.js"></script>
<script src="${ctx}/plugins/ztree/js/jquery.ztree.all.js"></script>
<script src="${ctx}/plugins/ztree/js/jquery.ztree.exhide.js"></script>
<script src="${ctx}/plugins/ztree/js/fuzzysearch.js"></script>
<script src="${ctx}/plugins/layui/layui.all.js"></script>
<script src="${ctx}/js/common/download.js"></script>
<script type="text/javascript">
	var $z = jQuery.noConflict();
	var $ = layui.jquery,laydate = layui.laydate,form=layui.form,upload = layui.upload,laytpl=layui.laytpl,index=null,formFilter="chapter";
	var formkey = "${formkey!''}";
	var sprs = [];
	var usersprs = [];
	if(formkey == 'chapter_startevent1.html'){
		
		form.val(formFilter, {
			  "u_id": "${(USER.u_id)!''}",
			  "sqr": "${(chapter.sqr)!''}",
			  "sqrq": "${(chapter.sqrq)!''}", 
		})
		
		$.ajax({
            type: "get",
            data: {"u_id":"${USER.u_id}"},
            url: "${ctx}/grgzt/fqlc/getOrgs",
            success: function (data) {
				$.each(data, function (index, item) {
                    $('#bmmc').append(new Option(item.name, item.name));// 下拉菜单里添加元素
                });
				form.render("select");
            },
            error: function (data) {
                layer.msg("服务端异常");
            }
        });
		
		getSprs()
		
		//用印类型
		var setting = {
	    	async: {
	            enable: true,
	            url:"${ctx}/grgzt/fqlc/getZtreeChapter",
	            type: "get"
			},
			check: {
				enable: true,
				chkStyle: "radio",
				radioType: "all"
			},
			view:{
				selectedMulti: false
			}
		};
	
		var ztree =$z.fn.zTree.init($("#yylx"), setting);
		
  	//申请
	form.on('submit(sq)', function(data){
		if(sprs.length > 0){
			 data.field.sprs = sprs.join(",")
			 data.field.usersprs = usersprs.join(",")
			 data.field.id = "${USER.u_id}chapter${formkey!''}";
			 data.field.bk = "${(chapter.bk)!''}";
			 console.log(data.field)
			 $.ajax({
		            type: "post",
		            data: data.field,
		            url: "${ctx}/grgzt/fqlc/start/chapter",
		            beforeSend: function () {
		                index = layer.load(1);
		            },
		            success: function (data) {
		            	layer.close(index);
		            	if(data.code >0){
		            		layer.confirm("申请成功,流程单号："+data.bk+",下一流程节点："+data.msg, {
		            			  closeBtn:0,
		            			  btn: ['确定'] //按钮
		            			}, function(){
		            			 parent.window.closeTab("chapter");
	            			});
		            	}else{
		            		layer.msg("申请失败");
		            	}
		            },
		            error: function (data) {
		            	layer.close(index);
		                layer.msg("服务端异常");
		            }
		      });
		 } else {
			 layer.msg("请选择审批人", {offset: ['50%'], time: 2000});
		 }
		 return false;
	 });
	
	} else if (formkey == 'chapter_usertask1.html'){
		getSprs();
		
		//审批
		form.on('submit(sp)', function(data){
			if(sprs.length > 0){
				data.field.sprs = sprs.join(",")
				data.field.usersprs = usersprs.join(",")
				data.field.id = "${USER.u_id}chapter${formkey!''}";
				data.field.bk = "${bk!''}";
				
				data.field.ks_spyj = "同意  "+data.field.ks_spyj
				if(data.field.agree != "true"){
					data.field.ks_spyj = "不"+data.field.ks_spyj;
				}
				
				$.ajax({
		            type: "post",
		            data: data.field,
		            url: "${ctx}/grgzt/dbsx/complete/${taskId!''}",
		            beforeSend: function () {
		                index = layer.load(1);
		            },
		            success: function (data) {
		            	layer.close(index);
		            	if(data.code >0){
		            		index = layer.confirm("审批成功,下一流程节点："+data.msg, {
		            			  closeBtn:0,
		            			  btn: ['确定'] //按钮
		            			}, function(){
		            			parent.window.closeTab(data.taskId);
	            			});
		            	}else if(data.code == "0" || data.code == "-1") {
		            		layer.msg(data.msg, {offset: ['50%'], time: 2000},function(){
		            			parent.window.closeTab(data.taskId);
		            		});
		            	}else {
		            		layer.msg("审批失败", {offset: ['50%'], time: 2000});
		            	}
		            },
		            error: function (data) {
		            	layer.close(index);
		                layer.msg("服务端异常");
		            }
		      });
			} else {
				layer.msg("请选择审批人", {offset: ['50%'], time: 2000});
			}
			 return false;
		});
	}
	  //数组对象对应删除
    Array.prototype.remove = function (val) {
        var index = this.indexOf(val);
        if (index > -1) {
            this.splice(index, 1);
        }
    };
    
	$("#spr_add").click(function(){
		 layer.open({
            type: 2,
            area: ['722px', '516px'],
         	title: false,
            fixed: false, //不固定
            content: '${ctx}/grgzt/fqlc/spr?key=chapter&formkey=${formkey!''}',
            end: function(){
            	getSprs();
       	    }
   	   })
	})

	function getSprs(){
		$.ajax({
            type: "post",
            data: {id:"${USER.u_id}chapter${formkey!''}"},
            url: "${ctx}/grgzt/fqlc/getSprs",
            beforeSend: function () {
                index = layer.load(1);
            },
            success: function (data) {
            	layer.close(index);
            	var html = ""
        		sprs = [];
            	usersprs = [];
            	$.each(data,function(i,v){
            		sprs.push(v.oiduid.split("#")[1]);
            		usersprs.push(v.oiduid);
            		html +='<div class="spr-select">';
            			html +='<i class="fa fa-close spr-close" data-id="'+v.oiduid+'"></i>';
						html +='<div class="spr-box">'
							html +='<p>'+v.o_name+'</p>';
							html +='<p>'+v.j_name+'</p>';
						html +='</div>';
						html +='<p>'+v.nickname+'</p>';
					html +='</div>';
            	})
            	
            	$("#spr_add").prevAll().remove();
            	$("#spr_add").before(html);
            	$("#spr .spr-select").on('click','.spr-close',function () { 
            		var oiduid = $(this).attr("data-id");
            		usersprs.remove(oiduid)
            		sprs.remove(oiduid.split("#")[1])
            		$(this).parent().remove();
            	})
            },
            error: function (data) {
            	layer.close(index);
                layer.msg("服务端异常");
            }
      });
}
</script>
</html>