<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>请假流程</title>
    <link href="${ctx}/plugins/layui/css/layui.css" rel="stylesheet" />
</head>

<body>
    <!-- ${form} -->
    <form class="layui-form" style="max-width:800px;margin:10px auto 0;position: absolute;top: 50%;margin-top: -300px;left: 50%;margin-left: -400px;">
    	<input type="hidden" id="formType" value="ygsq">
    	<input type="hidden" name="bk" value="${leave.bk}">
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red;">*</span>申请人</label>
            <div class="layui-input-inline">
                <input type="text" name="sqr" value="${leave.sqr}" required lay-verify="required" placeholder="申请人" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label"><span style="color:red;">*</span>部门名称</label>
            <div class="layui-input-inline">
                <input type="text" name="bmmc" value="${leave.bmmc}" required lay-verify="required" placeholder="部门名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red;">*</span>申请日期</label>
            <div class="layui-input-inline">
                <input type="text" name="sqrq" value="${leave.sqrq}"  required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label"><span style="color:red;">*</span>请假类别</label>
            <div class="layui-input-inline">
                <select id="qjlx" name="qjlx" lay-verify="required"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red;">*</span>开始日期</label>
            <div class="layui-input-inline">
                <input type="text" id="ksrq" name="ksrq" required lay-verify="required" placeholder="开始日期" autocomplete="off"
                    class="layui-input">
            </div>
            <label class="layui-form-label"><span style="color:red;">*</span>结束日期</label>
            <div class="layui-input-inline">
                <input type="text" id="jsrq" name="jsrq" required lay-verify="required" placeholder="结束日期" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
        	<label class="layui-form-label"><span style="color:red;">*</span>工作时长</label>
            <div class="layui-input-inline">
                <select id="gzsc" name="gzsc" lay-verify="required"></select>
            </div>
             <label class="layui-form-label"><span style="color:red;">*</span>请假天数</label>
             <div class="layui-input-inline">
                 <input type="text" name="qjts" required lay-verify="required" placeholder="请假天数" autocomplete="off" class="layui-input">
             </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">请假理由</label>
            <div class="layui-input-block">
                <textarea name="qjly" placeholder="请假理由" class="layui-textarea" style="width:500px;"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">图片</label>
                <div class="layui-upload">
					  <button type="button" class="layui-btn" id="test2">新增</button> 
				</div>
        </div>
        <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">审批人</label>
                <div class="layui-upload">
					  <button type="button" class="layui-btn" id="test2">新增</button> 
				</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-primary" lay-submit lay-filter="sq">申请</button>
                <button type="reset" class="layui-btn layui-btn-primary">取消</button>
            </div>
        </div>
    </form>
</body>
<script src="${ctx}/plugins/layui/layui.all.js"></script>
<script type="text/javascript">
	var $ = layui.jquery,laydate = layui.laydate,form=layui.form,upload = layui.upload;
	var formType = $("#formType").val();
	if(formType == 'ygsq'){
		$.ajax({
            type: "get",
            data: {gtype:'qjlx_type'},
            url: "${ctx}/dict/get",
            success: function (data) {
				$.each(data, function (index, item) {
                    $('#qjlx').append(new Option(item.name, item.value));// 下拉菜单里添加元素
                });
				form.render("select");
            },
            error: function (data) {
                layer.msg("服务端异常");
            }
        });
		$.ajax({
            type: "get",
            data: {gtype:'gzsc_type'},
            url: "${ctx}/dict/get",
            success: function (data) {
				$.each(data, function (index, item) {
                    $('#gzsc').append(new Option(item.name, item.value));// 下拉菜单里添加元素
                });
				form.render("select");
            },
            error: function (data) {
                layer.msg("服务端异常");
            }
        });
		
		laydate.render({
		   elem: '#ksrq'
		   ,type: 'datetime'
		});
		laydate.render({
		   elem: '#jsrq'
		   ,type: 'datetime'
		});
		
		upload.render({
		    elem: '#test2'
		    ,url: '${ctx}/file/upload/'
		    ,multiple: true
		    ,before: function(obj){
			      obj.preview(function(index, file, result){
			        $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
			      });
		    }
		    ,done: function(res){
		      //上传完毕
		      
		    }
		 });

		form.on('submit(sq)', function(data){
			  console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
			  console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
			  console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
			  return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	}else if(formType == '1'){
		
	}
</script>
</html>