<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzhb.zzoa.mapper.ActivitiMapper">
	<insert id="addProcessDefinitionExt" parameterType="com.zzhb.zzoa.domain.activiti.ProcessDefinitionExt">
		INSERT INTO ext_act_re_procdef (id,name,`key`,version,deployment_id,resource_name,dgrm_resource_name,createtime,createuser,protype,description)
		VALUES
		(#{id},#{name},#{key},#{version},#{deployment_id},#{resource_name},#{dgrm_resource_name},now(),#{createuser},#{protype},#{description})
	</insert>
	
	<select id="getProcessDefinitionExts" resultType="com.zzhb.zzoa.domain.activiti.ProcessDefinitionExt">
		SELECT  ext.*,pro.`name` proname FROM ext_act_re_procdef ext LEFT JOIN ext_act_proctype pro on ext.protype = pro.type
		<where>
			<if test="name !=null and name !='' ">
				<bind name="_name" value="'%'+name+'%'"/>
				and ext.name like #{_name}
			</if>
			<if test="protype !=null and protype !='' ">
				and ext.protype = #{protype}
			</if>
			<if test="lastversion !=null and lastversion !='' ">
				and ext.version = (SELECT max(version) FROM	ext_act_re_procdef WHERE `key` = ext.`key`)
			</if>
		</where>
		order by ext.createtime desc
	</select>
	
	<delete id="delProcessDefinitionExt" parameterType="java.util.Map">
		DELETE FROM ext_act_re_procdef 
		<where>
			<if test="deployment_id !=null and deployment_id !='' ">
				and deployment_id = #{deployment_id}
			</if>
		</where>
	</delete>
	
	<select id="getAddUsers" resultType="com.zzhb.zzoa.domain.User">
		SELECT * FROM sys_t_user u LEFT JOIN ${tablename} o on u.u_id = o.u_id 
		WHERE o.u_id IS NULL AND u.username != 'superadmin'
	</select>
	
	<insert id="addProcessDefinitionType" parameterType="com.zzhb.zzoa.domain.activiti.ProcessDefinitionType">
		REPLACE INTO ext_act_proctype (type,name)
		VALUES
		(#{type},#{name})
	</insert>
</mapper>