<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzhb.zzoa.mapper.AttachmentMapper">
    <insert id="insertAttaInfo" parameterType="java.util.Map">
        INSERT INTO aff_t_attachment(attach_id,attach_name,attach_type,createtime,url)
        VALUES (#{uuid},#{attach_name},#{attach_type},now(),#{url})

    </insert>

    <select id="getCarType" resultType="com.zzhb.zzoa.domain.CarTypeInfo" parameterType="java.util.Map">
        SELECT
        t_id,
        type_info
        FROM aff_car_info_type
    </select>
    <select id="getCarStatus" resultType="com.zzhb.zzoa.domain.CarStatusInfo" parameterType="java.util.Map">
        SELECT
        s_id,
        status_info
        FROM aff_car_info_status
    </select>

    <delete id="delCarById" parameterType="java.util.Map">
        DELETE FROM aff_car_info
        <where>
            <if test="c_id != null and c_id != ''">
                c_id = #{c_id}
            </if>
        </where>
    </delete>

    <insert id="addCar" keyProperty="c_id" useGeneratedKeys="true" parameterType="java.util.Map" >
        INSERT INTO aff_car_info(car_model,car_card,car_type,car_limit,buy_time,kilometres,next_inspection_time,car_status)
        VALUES (#{car_model},#{car_card},#{car_type},#{car_limit},#{buy_time},#{kilometres},#{next_inspection_time},#{car_status})
    </insert>

    <update id="editCar" parameterType="java.util.Map">
        UPDATE aff_car_info
        <set>
            <if test="car_model != null and car_model !='' ">
                car_model = #{car_model},
            </if>
            <if test="car_card != null and car_card !='' ">
                car_card = #{car_card},
            </if>
            <if test="car_type != null and car_type !=''">
                car_type = #{car_type},
            </if>
            <if test="car_limit != null and car_limit !='' ">
                car_limit = #{car_limit},
            </if>
            <if test="buy_time != null and buy_time !='' ">
                buy_time = #{buy_time},
            </if>
            <if test="kilometres != null and kilometres !='' ">
                kilometres = #{kilometres},
            </if>
            <if test="next_inspection_time != null and next_inspection_time !='' ">
                next_inspection_time = #{next_inspection_time},
            </if>
            <if test="car_status != null and car_status !='' ">
                car_status = #{car_status},
            </if>
        </set>
        <where>
            <if test="c_id != null and c_id !='' ">
                AND c_id = #{c_id}
            </if>
        </where>
    </update>

    <select id="getCarUsageInfo" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT c.v_id,
        c.c_id,
        a.car_model,
        a.car_card,
        a.car_limit,
        c.apply_date,
        c.u_id,
        b.username,
        c.dispatching_department,
        c.driver,
        c.out_time,
        c.back_time,
        c.out_mileage,
        c.back_mileage,
        c.route,
        c.dispatch_reason
        FROM aff_car_info a,sys_t_user b,aff_vehicle_usage_statistics c
    <where>
        <if test="c_id != null and c_id !='' ">
            AND a.c_id = #{c_id}
        </if>
        AND a.c_id = c.c_id AND b.u_id = c.u_id
        <if test="car_model != null and car_model != ''">
          <bind name="_car_model" value="'%'+car_model+'%'"/>
          AND a.car_model like #{_car_model}
        </if>
        <if test="car_card != null and car_card != ''">
            <bind name="_car_card" value="'%'+car_card+'%'"/>
            AND a.car_card like #{_car_card}
        </if>
        <if test="car_limit != null and car_limit != ''">
            AND a.car_limit = #{car_limit}
        </if>
    </where>
    </select>

    <!--<update id="updateUserByUser" parameterType="com.zzhb.zzoa.domain.User">-->
        <!--UPDATE sys_t_user-->
        <!--<set>-->
            <!--<if test="nickname != null and nickname !='' ">-->
                <!--nickname = #{nickname},-->
            <!--</if>-->
            <!--<if test="true">-->
                <!--updatetime = now(),-->
            <!--</if>-->
            <!--<if test="remark != null">-->
                <!--remark = #{remark},-->
            <!--</if>-->
            <!--<if test="email != null">-->
                <!--email = #{email},-->
            <!--</if>-->
            <!--<if test="phone != null">-->
                <!--phone = #{phone},-->
            <!--</if>-->
            <!--<if test="status != null and status !='' ">-->
                <!--status = #{status}-->
            <!--</if>-->
        <!--</set>-->
        <!--<where>-->
            <!--<if test="u_id != null and u_id !='' ">-->
                <!--AND u_id = #{u_id}-->
            <!--</if>-->
        <!--</where>-->
    <!--</update>-->

    <!--<update id="updateUserRole" parameterType="java.util.Map">-->
        <!--UPDATE sys_t_user_role-->
        <!--<set>-->
            <!--<if test="r_id != null and r_id !='' ">-->
                <!--r_id = #{r_id}-->
            <!--</if>-->
        <!--</set>-->
        <!--<where>-->
            <!--<if test="u_id != null and u_id !='' ">-->
                <!--AND u_id = #{u_id}-->
            <!--</if>-->
        <!--</where>-->
    <!--</update>-->

    <!--<insert id="addUrole" parameterType="java.util.Map">-->
        <!--INSERT INTO sys_t_user_role(u_id,r_id)-->
        <!--VALUES (#{u_id},#{r_id})-->
    <!--</insert>-->


    <!--<update id="resetPass" parameterType="java.util.Map">-->
        <!--UPDATE sys_t_user-->
        <!--<set>-->
            <!--<if test="password != null and password !='' ">-->
                <!--password = #{password}-->
            <!--</if>-->
        <!--</set>-->
        <!--<where>-->
            <!--<if test="u_id != null and u_id !='' ">-->
                <!--AND u_id = #{u_id}-->
            <!--</if>-->
        <!--</where>-->
    <!--</update>-->

</mapper>