<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzhb.zzoa.mapper.DictMapper">
	
	<select id="getDicts" resultType="com.zzhb.zzoa.domain.common.Dict" parameterType="java.util.Map">
		SELECT d_id,name,value,remark,gtype,g_id,sort,status,createtime,updatetime
		FROM sys_t_dict
		<where>
			<if test="g_id !=null and g_id !=''">
				and g_id = #{g_id}
			</if>
			<if test="gtypef !=null and gtypef !=''">
				and gtype is not null
			</if>
			<if test="status !=null and status !=''">
				and status = #{status}
			</if>
			<if test="name !=null and name !=''">
				<bind name="_name" value="'%'+name+'%'"/>
				and name like #{_name}
			</if>
			<if test="gtype !=null and gtype !=''">
				<bind name="_gtype" value="'%'+gtype+'%'"/>
				and gtype like #{_gtype}
			</if>
		</where> 
		ORDER BY sort,createtime desc
	</select>
	
	<select id="checkDictGtype" resultType="java.lang.Integer" parameterType="com.zzhb.zzoa.domain.common.Dict">
		SELECT count(1)
		FROM sys_t_dict
		<where>
			<if test="gtype !=null and gtype !=''">
				and gtype = #{gtype}
			</if>
			<if test="d_id !=null and d_id !=''">
				and d_id != #{d_id}
			</if>
			<if test="g_id !=null and g_id !=''">
				and g_id = #{g_id}
			</if>
			<if test="value !=null and value !=''">
				and value = #{value}
			</if>
		</where>
	</select>
	
	<update id="updateDict" parameterType="com.zzhb.zzoa.domain.common.Dict">
		UPDATE sys_t_dict
		<set>
			<if test="name != null and name !='' ">
				name = #{name},
			</if>
			<if test="value != null and value !='' ">
				value = #{value},
			</if>
			<if test="gtype != null and gtype !='' ">
				gtype = #{gtype},
			</if>
			<if test="remark != null and remark !='' ">
				remark = #{remark},
			</if>
			<if test="sort != null and sort !='' ">
				sort = #{sort},
			</if>
			<if test="true">
				updatetime = now()
			</if>
		</set>
		<where>
			<if test="d_id !=null and d_id !=''">
				and d_id = #{d_id}
			</if>
		</where>
	</update>
	
	<insert id="addDict" parameterType="com.zzhb.zzoa.domain.common.Dict">
		INSERT INTO sys_t_dict (name,value,remark,gtype,g_id,sort,status,createtime)
		VALUES
		(#{name,jdbcType=VARCHAR},#{value,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{gtype,jdbcType=VARCHAR},#{g_id,jdbcType=INTEGER},#{sort,jdbcType=INTEGER},#{status},now())
	</insert>
</mapper>