<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzhb.mapper.JobMapper">
	
	<select id="getJobs" resultType="com.zzhb.domain.Job" parameterType="java.util.Map">
		SELECT
			j_id id,
			j_name name,
			j_sort sort,
			j_remark remark,
			j_status status,
			createtime,
			updatetime
		FROM sys_t_job
		<where>
			<if test="name !=null and name !=''">
				and j_name = #{name}
			</if>
			<if test="status !=null and status !=''">
				and j_status = #{status}
			</if>
			<if test="likename !=null and likename !=''">
				<bind name="_likename" value="'%'+likename+'%'"></bind>
				and j_name like #{_likename}
			</if>
			<if test="code !=null and code !=''">
				and j_code = #{code}
			</if>
		</where>
		order by j_sort
	</select>
	
	<insert id="addJob" parameterType="com.zzhb.domain.Job">
		INSERT INTO sys_t_job
			(j_name,j_sort,j_remark,j_status,createtime)
		VALUES
			(#{name},#{sort},#{remark},#{status},now())
	</insert>
	
	<update id="updateJob" parameterType="com.zzhb.domain.Job">
		UPDATE sys_t_job
		<set>
			<if test="name !=null and name !=''">
				j_name = #{name},
			</if>
			<if test="sort !=null and sort !=''">
				j_sort = #{sort},
			</if>
			<if test="status !=null and status !=''">
				j_status = #{status},
			</if>
			<if test="remark !=null and remark !=''">
				j_remark = #{remark},
			</if>
			<if test="true">
				updatetime = now(),
			</if>
		</set>
		<where>
			<if test="id !=null and id !=''">
				and j_id = #{id}
			</if>
		</where>
	</update>
	
	<select id="getUsers" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			o.j_id,
			o.j_name,
			u.*,
			m.o_name 
		FROM
			sys_t_user_job uo
			LEFT JOIN sys_t_job o ON uo.j_id = o.j_id
			LEFT JOIN sys_t_user u ON uo.u_id = u.u_id
			LEFT JOIN ( SELECT u.u_id, o.o_name FROM sys_t_user_org u LEFT JOIN sys_t_org o ON u.o_id = o.o_id ) m ON uo.u_id = m.u_id
		<where>
			<if test="j_id !=null and j_id !=''">
				and uo.j_id = #{j_id}
			</if>
			<if test="username !=null and username !=''">
				<bind name="_username" value="'%'+username+'%'"/>
				and u.username like #{_username}
			</if>
			<if test="nickname !=null and nickname !=''">
				<bind name="_nickname" value="'%'+nickname+'%'"/>
				and u.nickname like #{_nickname}
			</if>
		</where>
	</select>
	
	<insert id="addUserJob" parameterType="java.util.Map">
		INSERT INTO sys_t_user_job (u_id,j_id)
		VALUES
		<foreach collection="u_ids" item="u_id" index="index" separator=",">
            (#{u_id,jdbcType=INTEGER}, #{j_id,jdbcType=INTEGER})
        </foreach>
	</insert>
	
	<select id="getAddUsers" resultType="java.util.Map">
		SELECT
			* 
		FROM
			sys_t_user u
			LEFT JOIN sys_t_user_job o ON u.u_id = o.u_id
			LEFT JOIN ( SELECT o.o_name, u.u_id FROM sys_t_org o LEFT JOIN sys_t_user_org u ON o.o_id = u.o_id ) m ON u.u_id = m.u_id 
		WHERE
			o.u_id IS NULL 
			AND u.username != 'superadmin'
	</select>
</mapper>