<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzhb.zzoa.mapper.JobUserMapper">

	<insert id="addUserJobs" parameterType="java.util.Map">
		INSERT INTO sys_t_user_job (u_id,j_id)
		VALUES
		<foreach collection="j_ids" item="j_id" index="index" separator=",">
            (#{u_id,jdbcType=INTEGER}, #{j_id,jdbcType=INTEGER})
        </foreach>
	</insert>
	
</mapper>