<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzhb.zzoa.mapper.MenuMapper">
	
	<select id="getMenu" resultType="com.zzhb.zzoa.domain.common.Menu" parameterType="java.util.Map">
		SELECT
			m_id id,
			m_name title,
			m_icon icon,
			m_status status,
			m_parentid parentid,
			m_url url,
			m_sort sort,
			m_level level
		FROM sys_t_menu
		<where>
			<if test="m_id !=null and m_id !='' ">
				and m_id = #{m_id}
			</if>
		</where>
	</select>
	
	<select id="getMenus" resultType="com.zzhb.zzoa.domain.common.Menu" parameterType="java.util.Map">
		SELECT
			m.m_id id,
			m.m_name title,
			m.m_icon icon,
			m.m_status status,
			m.m_parentid parentid,
			m.m_url url,
			m.m_sort sort,
			m.m_level level
		FROM sys_t_menu m
		<if test="r_id != null and r_id != 'superadmin' ">
			INNER JOIN sys_t_role_menu rm on m.m_id = rm.m_id
		</if> 
		<where>
			<if test="flag == null">
				<if test="m_ids !=null and m_ids.size() != 0">
					and m.m_id in 
					<foreach collection="m_ids" item="m_id" open="(" separator="," close=")">
	           			#{m_id}
	        		</foreach>
				</if>
				<if test="m_ids !=null and m_ids.size() == 0">
					and 1 = 2
				</if>
				<if test="m_status !=null and m_status !='' ">
					and m_status = #{m_status}
				</if>
				<if test="m_level !=null and m_level !='' ">
					and m_level = #{m_level}
				</if>
				<if test="r_id != null and r_id != 'superadmin' ">
					<if test="r_id !=null and r_id !='' ">
						and rm.r_id = #{r_id}
					</if>
				</if> 
			</if>
			<if test="flag != null">
				<if test="m_status !=null and m_status !='' ">
					and m_status = #{m_status}
				</if>
				<if test="r_id != null and r_id != 'superadmin' ">
					<if test="r_id !=null and r_id !='' ">
						and rm.r_id = #{r_id}
					</if>
				</if>
			</if>
		</where>
		ORDER BY m.m_parentid,m.m_sort		
	</select>
	
	<select id="getIdByParentId" resultType="java.lang.String">
			select m_id,m_parentid from (
              select t1.m_id,t1.m_parentid,
              if(find_in_set(m_parentid, @pids) > 0, @pids := concat(@pids, ',', m_id), 0) as ischild
              from (
                   select m_id,m_parentid from sys_t_menu t 
                   <where>
	                   	<if test="r_id != null and r_id != 'superadmin' ">
                   			 t.m_status = 1
						</if> 
                   </where>
                    order by m_parentid, m_id
                  ) t1,
                  (select @pids := #{parentid}) t2
             ) t3 where ischild != 0
	</select>
	
	<select id="getIdByRoleID"  resultType="java.lang.String" parameterType="java.util.Map">
			SELECT m_id FROM sys_t_role_menu 
			<where>
				<if test="r_id !=null and r_id !='' ">
					and r_id = #{r_id}
				</if>
				<if test="m_ids !=null and m_ids.size() != 0">
					and m_id in 
					<foreach collection="m_ids" item="m_id" open="(" separator="," close=")">
	           			#{m_id}
	        		</foreach>
				</if>
			</where>
	</select>
	
	<select id="getAllMenus" resultType="com.zzhb.zzoa.domain.common.Menu" parameterType="java.util.Map">
		SELECT
			m_id id,
			m_name title,
			m_icon icon,
			m_status status,
			m_parentid parentid,
			m_url url,
			m_sort sort,
			m_level level
		FROM sys_t_menu
		<where>
			<if test="title !=null and title !='' ">
				<bind name="_title" value="'%'+title+'%'"/>
				and m_name like #{_title}
			</if>
			<if test="m_level !=null and m_level !='' ">
				and m_level = #{m_level}
			</if>
			<if test="m_parentid !=null and m_parentid !='' ">
				and m_parentid = #{m_parentid}
			</if>
		</where>
		order by m_sort
	</select>
	
	<update id="updateMenu" parameterType="com.zzhb.zzoa.domain.common.Menu">
		UPDATE sys_t_menu
		<set>
			<if test="title != null and title !='' ">
				m_name = #{title},
			</if>
			<if test="icon != null and icon !='' ">
				m_icon = #{icon},
			</if>
			<if test="url != null and url !='' ">
				m_url = #{url},
			</if>
			<if test="status != null and status !='' ">
				m_status = #{status},
			</if>
			<if test="parentid != null and parentid !='' ">
				m_parentid = #{parentid},
			</if>
			<if test="sort != null and sort !='' ">
				m_sort = #{sort},
			</if>
			<if test="level != null and level !='' ">
				m_level = #{level},
			</if>
		</set>
		<where>
			<if test="id != null and id !='' ">
				and m_id = #{id}
			</if>
		</where>
	</update>
	
	<insert id="insertMenu" parameterType="com.zzhb.zzoa.domain.common.Menu">
		INSERT INTO sys_t_menu (m_name,m_url,m_icon,m_parentid,m_status,m_sort,m_level)
		VALUES (#{title},#{url,jdbcType=VARCHAR},#{icon},#{parentid},#{status},#{sort},#{level})
	</insert>
	
	<delete id="delMenus" parameterType="java.util.Map">
		DELETE FROM sys_t_menu 
		<where>
			<if test="m_ids !=null and m_ids.size() != 0">
				and m_id in 
				<foreach collection="m_ids" item="m_id" open="(" separator="," close=")">
           			#{m_id}
        		</foreach>
			</if>
		</where>
	</delete>
	
</mapper>