<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzhb.mapper.OrgMapper">
	
	<select id="getOrgs" resultType="com.zzhb.domain.Org" parameterType="java.util.Map">
		SELECT
			o_id id,
			o_name name,
			o_level level,
			o_status status,
			o_remark remark,
			createtime,
			updatetime,
			o_sort sort,
			p_oid parentid
		FROM
			sys_t_org
		<where>
			<if test="parentid !=null and parentid !=''">
				and p_oid = #{parentid}
			</if>
			<if test="name !=null and name !=''">
				and o_name = #{name}
			</if>
			<if test="likename !=null and likename !=''">
				<bind name="_likename" value="'%'+likename+'%'"></bind>
				and o_name like #{_likename}
			</if>
		</where>
		order by o_sort
	</select>
	
	<select id="getOrgForTree" resultType="java.util.Map">
		SELECT
			o_id id,
			o_name name,
			p_oid parentid
		FROM
			sys_t_org
			order by o_sort
	</select>
	
	<insert id="addOrg" parameterType="com.zzhb.domain.Org">
		INSERT INTO sys_t_org 
			(o_name,o_level,o_status,o_remark,createtime,o_sort,p_oid)
		VALUES
			(#{name},#{level},#{status},#{remark},now(),#{sort},#{parentid})
	</insert>
	
	<update id="updateOrg" parameterType="com.zzhb.domain.Org">
		UPDATE sys_t_org
		<set>
			<if test="name !=null and name !=''">
				o_name = #{name},
			</if>
			<if test="remark !=null and remark !=''">
				o_remark = #{remark},
			</if>
			<if test="status !=null and status !=''">
				o_status = #{status},
			</if>
			<if test="sort !=null and sort !=''">
				o_sort = #{sort},
			</if>
			<if test="true">
				updatetime = now(),
			</if>
		</set>
		<where>
			<if test="id !=null and id !=''">
				and o_id = #{id}
			</if>
		</where>
	</update>
	
	<select id="getUsers" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			o.o_id,
			o.o_name,
			u.*,
			m.j_name 
		FROM
			sys_t_user_org uo
			LEFT JOIN sys_t_org o ON uo.o_id = o.o_id
			LEFT JOIN sys_t_user u ON uo.u_id = u.u_id
			LEFT JOIN ( SELECT u.u_id, o.j_name FROM sys_t_user_job u LEFT JOIN sys_t_job o ON u.j_id = o.j_id ) m ON uo.u_id = m.u_id
		<where>
			<if test="o_id !=null and o_id !=''">
				and uo.o_id = #{o_id}
			</if>
			<if test="username !=null and username !=''">
				<bind name="_username" value="'%'+username+'%'"/>
				and u.username like #{_username}
			</if>
			<if test="nickname !=null and nickname !=''">
				<bind name="_nickname" value="'%'+nickname+'%'"/>
				and u.nickname like #{_nickname}
			</if>
		</where>
	</select>
	
	<insert id="addUserOrg" parameterType="java.util.Map">
		INSERT INTO sys_t_user_org (u_id,o_id)
		VALUES
		<foreach collection="u_ids" item="u_id" index="index" separator=",">
            (#{u_id,jdbcType=INTEGER}, #{o_id,jdbcType=INTEGER})
        </foreach>
	</insert>
	
	<select id="getAddUsers" resultType="java.util.Map">
		SELECT
			* 
		FROM
			sys_t_user u
			LEFT JOIN sys_t_user_org o ON u.u_id = o.u_id
			LEFT JOIN ( SELECT o.j_name, u.u_id FROM sys_t_job o LEFT JOIN sys_t_user_job u ON o.j_id = u.j_id ) m ON u.u_id = m.u_id 
		WHERE
			o.u_id IS NULL 
			AND u.username != 'superadmin'
	</select>
	
	<delete id="delOrg" parameterType="java.util.List">
		DELETE FROM sys_t_org
		<where>
			<if test="orgs !=null and orgs.size() != 0">
				and o_id in 
				<foreach collection="orgs" item="org" open="(" separator="," close=")">
           			#{org.id}
        		</foreach>
			</if>
		</where>
	</delete>
</mapper>