<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzhb.mapper.RoleMapper">
	
	<delete id="delRoleMenu" parameterType="java.util.Map">
		DELETE FROM sys_t_role_menu 
		<where>
			<if test="m_ids !=null and m_ids.size() != 0">
				and m_id in 
				<foreach collection="m_ids" item="m_id" open="(" separator="," close=")">
           			#{m_id}
        		</foreach>
			</if>
			<if test="r_id !=null and r_id !=''">
				and r_id = #{r_id}
			</if>
		</where>
	</delete>
	
	<select id="getRoles" resultType="com.zzhb.domain.Role" parameterType="java.util.Map">
		SELECT * FROM sys_t_role
		<where>
			<if test="rolename !=null and rolename !=''">
				<bind name="_rolename" value="'%'+rolename+'%'"/>
				and rolename like #{_rolename}
			</if>
			<if test="rolecode !=null and rolecode !=''">
				<bind name="_rolecode" value="'%'+rolecode+'%'"/>
				and rolecode like #{_rolecode}
			</if>
			<if test="status !=null and status !=''">
				and status = #{status}
			</if>
		</where>
		ORDER BY createtime desc
	</select>
	
	<update id="updateRole" parameterType="java.util.Map">
		UPDATE sys_t_role
		<set>
			<if test="rolename != null and rolename !='' ">
				rolename = #{rolename},
			</if>
			<if test="true">
				updatetime = now(),
			</if>
			<if test="remark != null and remark !='' ">
				remark = #{remark},
			</if>
			<if test="status != null and status !='' ">
				status = #{status},
			</if>
			<if test="rolecode != null and rolecode !='' ">
				rolecode = #{rolecode},
			</if>
		</set>
		<where>
			<if test="r_id != null and r_id !='' ">
				and r_id = #{r_id}
			</if>
		</where>
	</update>
	
	<insert id="addRole" keyProperty="r_id" useGeneratedKeys="true" parameterType="com.zzhb.domain.Role">
		INSERT INTO sys_t_role (rolename,createtime,remark,status,rolecode)
		VALUES(#{rolename},now(),#{remark},#{status},#{rolecode})
	</insert>
	
	<insert id="addRoleMenus" parameterType="java.util.Map">
		INSERT INTO sys_t_role_menu (r_id,m_id)
		VALUES
		<foreach collection="m_ids" item="m_id" index="index" separator=",">
            (#{r_id,jdbcType=INTEGER}, #{m_id,jdbcType=INTEGER})
        </foreach>
	</insert>
	
	<insert id="bindUser" parameterType="java.util.Map">
		INSERT INTO sys_t_user_role (u_id,r_id)
		VALUES
		<foreach collection="u_ids" item="u_id" index="index" separator=",">
            (#{u_id,jdbcType=INTEGER}, #{r_id,jdbcType=INTEGER})
        </foreach>
	</insert>
</mapper>