<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzhb.zzoa.mapper.UserSprMapper">
	
	<select id="getUserSprs" resultType="com.zzhb.zzoa.domain.activiti.UserSpr" parameterType="java.util.Map">
		SELECT * FROM oa_t_user_spr us LEFT JOIN sys_t_user_org uo on us.uid = uo.u_id
		<where>
			<if test="uid !=null and uid !='' ">
				and us.uid = #{uid}
			</if>
			<if test="key !=null and key !='' ">
				and us.key = #{key}
			</if>
			<if test="id !=null and id !='' ">
				and us.id = #{id}
			</if>
		</where>
	</select>
	
	<update id="updateSprsById" parameterType="java.util.Map">
		REPLACE INTO oa_t_user_spr (id,uid,`key`,taskkey,sprs)
			VALUES
		(#{id},#{uid},#{key},#{taskkey},#{sprs})
	</update>
	
	<select id="getSprs" resultType="java.util.Map">
		SELECT
			cast(u.u_id as char) u_id,
			u.nickname,
			j.j_name,
			o.o_name 
		FROM
			sys_t_user u
			LEFT JOIN sys_t_user_job uj ON u.u_id = uj.u_id
			LEFT JOIN sys_t_job j ON j.j_id = uj.j_id
			LEFT JOIN sys_t_user_org uo ON uo.u_id = u.u_id
			LEFT JOIN sys_t_org o ON o.o_id = uo.o_id
		<where>
			<if test="u_ids !=null and u_ids.size() != 0">
				u.u_id in
				<foreach collection="u_ids" item="id" index="index" open="(" close=")" separator=",">
			       #{id}
			    </foreach>
			</if>
		</where>
	</select>
</mapper>