<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzhb.mapper.UserSprMapper">
	
	<select id="getUserSprs" resultType="com.zzhb.domain.activiti.UserSpr" parameterType="com.zzhb.domain.activiti.UserSpr">
		SELECT * FROM oa_t_user_spr
		<where>
			<if test="id !=null and id !='' ">
				and id = #{id}
			</if>
		</where>
	</select>
	
	<update id="replaceSprsById" parameterType="com.zzhb.domain.activiti.UserSpr">
		REPLACE INTO oa_t_user_spr (id,uid,`key`,formkey,sprs)
			VALUES
		(#{id},#{uid},#{key},#{formkey},#{sprs})
	</update>
	
	<update id="updateSprs" parameterType="java.util.Map">
		UPDATE oa_t_user_spr SET sprs = #{usersprs} WHERE id = #{id}
	</update>
	
	<select id="getSprs" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			concat(o.o_id,'#',u.u_id) oiduid,
			u.nickname,
			j.j_name,
			o.o_name
		FROM
		sys_t_user u
			LEFT JOIN sys_t_user_org_job uoj on u.u_id = uoj.u_id
			LEFT JOIN sys_t_job j on uoj.j_id = j.j_id
			LEFT JOIN sys_t_org o on uoj.o_id = o.o_id
		<where>
			<if test="u_id !=null and u_id != ''">
				AND u.u_id = #{u_id}
			</if>
			<if test="o_id !=null and o_id != ''">
				AND o.o_id = #{o_id}
			</if>
		</where>
	</select>
	
	<delete id="delSprs" parameterType="java.util.Map">
		DELETE FROM oa_t_user_spr
		<where>
			<if test="key !=null and key !='' ">
				and `key` = #{key}
			</if>
			<if test="uid !=null and uid !='' ">
				and uid = #{uid}
			</if>
		</where>
	</delete>
</mapper>