<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzhb.zzoa.mapper.UserMapper">
    <select id="getAllUsers" resultType="java.util.Map" parameterType="java.util.Map">
      SELECT
		u.*,
		r.rolename,
		org.o_id,
		org.o_name 
	 FROM
		sys_t_user u
		LEFT JOIN sys_t_role r ON u.r_id = r.r_id
		LEFT JOIN ( SELECT uo.*, o.o_name FROM sys_t_user_org uo LEFT JOIN sys_t_org o ON uo.o_id = o.o_id ) org ON u.u_id = org.u_id
      <where>
          <if test="true">
              AND u.username != 'superadmin'
          </if>
          <if test="o_id != null and o_id != ''">
              AND org.o_id = #{o_id}
          </if>
          <if test="o_ids !=null and o_ids.size() != 0">
				and org.o_id in 
				<foreach collection="o_ids" item="o_id" open="(" separator="," close=")">
           			#{o_id}
        		</foreach>
		  </if>
          <if test="username != null and username != ''">
              <bind name="_username" value="'%'+username+'%'"/>
              AND u.username like #{_username}
          </if>
          <if test="nickname != null and nickname != ''">
              <bind name="_nickname" value="'%'+nickname+'%'"/>
              AND u.nickname like #{_nickname}
          </if>
          <if test="status != null and status != ''">
              AND u.status = #{status}
          </if>
      </where>
    </select>
    
    <insert id="addUser" keyProperty="u_id" useGeneratedKeys="true" parameterType="com.zzhb.zzoa.domain.User" >
        INSERT INTO sys_t_user(username,password,nickname,createtime,email,phone,phonexh,r_id,status)
        VALUES (#{username},#{password},#{nickname},now(),#{email},#{phone},#{phonexh},#{r_id},#{status})
    </insert>

    <update id="updateUser" parameterType="java.util.Map">
        UPDATE sys_t_user
        <set>
            <if test="nickname != null and nickname !='' ">
                nickname = #{nickname},
            </if>
            <if test="password != null and password !='' ">
                password = #{password},
            </if>
            <if test="true">
                updatetime = now(),
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="bgdh != null">
                bgdh = #{bgdh},
            </if>
            <if test="bgxh != null">
                bgxh = #{bgxh},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="phonexh != null ">
                phonexh = #{phonexh},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="status != null and status !='' ">
                status = #{status},
            </if>
            <if test="r_id != null">
                r_id = #{r_id}
            </if>
        </set>
        <where>
            <if test="username != null and username !='' ">
              	AND username = #{username}
            </if>
            <if test="u_id != null and u_id !='' ">
              	AND u_id = #{u_id}
            </if>
        </where>
    </update>
    
    <update id="updateUserByUser" parameterType="com.zzhb.zzoa.domain.User">
        UPDATE sys_t_user
        <set>
            <if test="nickname != null and nickname !='' ">
                nickname = #{nickname},
            </if>
            <if test="true">
                updatetime = now(),
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="status != null and status !='' ">
                status = #{status}
            </if>
        </set>
        <where>
            <if test="u_id != null and u_id !='' ">
              AND u_id = #{u_id}
            </if>
        </where>
    </update>
    
    <update id="updateUserRole" parameterType="java.util.Map">
        UPDATE sys_t_user_role
        <set>
            <if test="r_id != null and r_id !='' ">
                r_id = #{r_id}
            </if>
        </set>
        <where>
            <if test="u_id != null and u_id !='' ">
              AND u_id = #{u_id}
            </if>
        </where>
    </update>

    <insert id="addUrole" parameterType="java.util.Map">
        REPLACE INTO sys_t_user_role(u_id,r_id)
        VALUES (#{u_id},#{r_id})
    </insert>


    <update id="resetPass" parameterType="java.util.Map">
        UPDATE sys_t_user
        <set>
            <if test="password != null and password !='' ">
                password = #{password}
            </if>
        </set>
        <where>
            <if test="u_id != null and u_id !='' ">
                AND u_id = #{u_id}
            </if>
        </where>
    </update>
    
    <select id="getUsersByOid" parameterType="java.lang.String" resultType="com.zzhb.zzoa.domain.User">
    	SELECT u.* FROM sys_t_user_org uo LEFT JOIN sys_t_user u 
		on uo.u_id = u.u_id
		WHERE uo.o_id = #{o_id}
    </select>
    
    <insert id="addUserProcdef" parameterType="java.util.Map">
		INSERT INTO sys_t_user_procdef (u_id,p_id)
		VALUES
		<foreach collection="u_ids" item="u_id" index="index" separator=",">
            (#{u_id}, #{p_id})
        </foreach>
	</insert>
	
	<delete id="delUserProcdef">
		DELETE FROM sys_t_user_procdef
		<where>
			<if test="p_id !=null and p_id !='' ">
				and p_id = #{p_id}
			</if>
			<if test="u_id !=null and u_id !='' ">
				and u_id = #{u_id}
			</if>
		</where>
	</delete>
</mapper>