<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzhb.zzoa.mapper.UserMapper">
    <select id="getAllUsers" resultType="com.zzhb.zzoa.domain.User" parameterType="java.util.Map">
      SELECT
        u_id,
        username,
        password,
        nickname,
        createtime,
        updatetime,
        remark,
        email,
        phone,
        status,
        recentlogin
      FROM sys_t_user
      <where>
          <if test="username != null and username != ''">
              <bind name="_username" value="'%'+username+'%'"/>
              AND username like #{_username}
          </if>
          <if test="nickname != null and nickname != ''">
              <bind name="_nickname" value="'%'+nickname+'%'"/>
              AND nickname like #{_nickname}
          </if>
          <if test="status != null and status != ''">
              AND status = #{status}
          </if>
      </where>
    </select>
    
    
    <delete id="delUserById" parameterType="java.util.Map">
        DELETE FROM sys_t_user
        <where>
            <if test="id != null and id != ''">
                u_id = #{id}
            </if>
        </where>
    </delete>

    <insert id="addUser" keyProperty="u_id" useGeneratedKeys="true" parameterType="com.zzhb.zzoa.domain.User" >
        INSERT INTO sys_t_user(username,password,nickname,createtime,remark,email,phone,status)
        VALUES (#{username},#{password},#{nickname},now(),#{remark,jdbcType=VARCHAR},#{email},#{phone},#{status})
    </insert>

    <update id="updateUser" parameterType="java.util.Map">
        UPDATE sys_t_user
        <set>
            <if test="nickname != null and nickname !='' ">
                nickname = #{nickname},
            </if>
            <if test="password != null and password !='' ">
                password = #{password},
            </if>
            <if test="true">
                updatetime = now(),
            </if>
            <if test="remark != null and remark !='' ">
                remark = #{remark},
            </if>
            <if test="email != null and email !='' ">
                email = #{email},
            </if>
            <if test="phone != null and phone !='' ">
                phone = #{phone},
            </if>
            <if test="status != null and status !='' ">
                status = #{status},
            </if>
        </set>
        <where>
            <if test="username != null and username !='' ">
              AND username = #{username}
            </if>
            <if test="u_ids != null and u_ids.size() > 0 ">
              AND u_id in
	            <foreach collection="u_ids" item="u_id" index="index" open="(" close=")" separator=",">
				  #{u_id}
				</foreach>
            </if>
        </where>
    </update>
    
    <update id="updateUserByUser" parameterType="com.zzhb.zzoa.domain.User">
        UPDATE sys_t_user
        <set>
            <if test="nickname != null and nickname !='' ">
                nickname = #{nickname},
            </if>
            <if test="true">
                updatetime = now(),
            </if>
            <if test="remark != null and remark !='' ">
                remark = #{remark},
            </if>
            <if test="email != null and email !='' ">
                email = #{email},
            </if>
            <if test="phone != null and phone !='' ">
                phone = #{phone},
            </if>
            <if test="status != null and status !='' ">
                status = #{status}
            </if>
        </set>
        <where>
            <if test="u_id != null and u_id !='' ">
              AND u_id = #{u_id}
            </if>
        </where>
    </update>
    
    <update id="updateUserRole" parameterType="java.util.Map">
        UPDATE sys_t_user_role
        <set>
            <if test="r_id != null and r_id !='' ">
                r_id = #{r_id}
            </if>
        </set>
        <where>
            <if test="u_id != null and u_id !='' ">
              AND u_id = #{u_id}
            </if>
        </where>
    </update>

    <insert id="addUrole" parameterType="java.util.Map">
        INSERT INTO sys_t_user_role(u_id,r_id)
        VALUES (#{u_id},#{r_id})
    </insert>


    <update id="resetPass" parameterType="java.util.Map">
        UPDATE sys_t_user
        <set>
            <if test="password != null and password !='' ">
                password = #{password}
            </if>
        </set>
        <where>
            <if test="u_id != null and u_id !='' ">
                AND u_id = #{u_id}
            </if>
        </where>
    </update>
    
</mapper>