<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzhb.zzoa.mapper.ZdgzMapper">
    <select id="getAllZdgz" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        a.id,
        a.title,
        a.content,
        a.attach_id,
        a.createtime,
        a.submitter,
        b.username as submitterName,
        a.audit_state,
        a.distribution_state,
        a.principal,
        a.auditter
        FROM aff_t_zdgz a, sys_t_user b
        <where>
            <if test="createtime != null and createtime != ''">
                AND createtime = #{createtime}
             </if>
            and a.submitter = b.u_id
            <if test="title != null and title != ''">
                <bind name="_title" value="'%'+title+'%'"/>
                AND title like #{_title}
            </if>
        </where>
        order by a.createtime desc
    </select>

    <select id="getzdgzsh" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        a.id,
        a.title,
        a.content,
        a.attach_id,
        a.createtime,
        a.submitter,
        b.username as submitterName,
        a.audit_state,
        a.distribution_state,
        a.principal,
        a.auditter
        FROM aff_t_zdgz a, sys_t_user b
        <where>
            <if test="createtime != null and createtime != ''">
                AND createtime = #{createtime}
            </if>
            and a.submitter = b.u_id
            <if test="title != null and title != ''">
                <bind name="_title" value="'%'+title+'%'"/>
                AND title like #{_title}
            </if>
            <if test="auditter != null and auditter != ''">
                AND auditter = #{auditterid}
            </if>
        </where>
        order by a.createtime desc
    </select>


    <delete id="delCarById" parameterType="java.util.Map">
        DELETE FROM aff_car_info
        <where>
            <if test="c_id != null and c_id != ''">
                c_id = #{c_id}
            </if>
        </where>
    </delete>

    <insert id="addZdgz" keyProperty="id" useGeneratedKeys="true" parameterType="java.util.Map" >
        INSERT INTO aff_t_zdgz(title,content,attach_id,createtime,submitter,auditter)
        VALUES (#{title},#{content},#{attach_id},now(),#{submitter},#{auditter})
    </insert>

    <update id="editCar" parameterType="java.util.Map">
        UPDATE aff_car_info
        <set>
            <if test="car_model != null and car_model !='' ">
                car_model = #{car_model},
            </if>
            <if test="car_card != null and car_card !='' ">
                car_card = #{car_card},
            </if>
            <if test="car_type != null and car_type !=''">
                car_type = #{car_type},
            </if>
            <if test="car_limit != null and car_limit !='' ">
                car_limit = #{car_limit},
            </if>
            <if test="buy_time != null and buy_time !='' ">
                buy_time = #{buy_time},
            </if>
            <if test="kilometres != null and kilometres !='' ">
                kilometres = #{kilometres},
            </if>
            <if test="next_inspection_time != null and next_inspection_time !='' ">
                next_inspection_time = #{next_inspection_time},
            </if>
            <if test="car_status != null and car_status !='' ">
                car_status = #{car_status},
            </if>
        </set>
        <where>
            <if test="c_id != null and c_id !='' ">
                AND c_id = #{c_id}
            </if>
        </where>
    </update>



    <!--<update id="updateUserByUser" parameterType="com.zzhb.zzoa.domain.User">-->
        <!--UPDATE sys_t_user-->
        <!--<set>-->
            <!--<if test="nickname != null and nickname !='' ">-->
                <!--nickname = #{nickname},-->
            <!--</if>-->
            <!--<if test="true">-->
                <!--updatetime = now(),-->
            <!--</if>-->
            <!--<if test="remark != null">-->
                <!--remark = #{remark},-->
            <!--</if>-->
            <!--<if test="email != null">-->
                <!--email = #{email},-->
            <!--</if>-->
            <!--<if test="phone != null">-->
                <!--phone = #{phone},-->
            <!--</if>-->
            <!--<if test="status != null and status !='' ">-->
                <!--status = #{status}-->
            <!--</if>-->
        <!--</set>-->
        <!--<where>-->
            <!--<if test="u_id != null and u_id !='' ">-->
                <!--AND u_id = #{u_id}-->
            <!--</if>-->
        <!--</where>-->
    <!--</update>-->

    <!--<update id="updateUserRole" parameterType="java.util.Map">-->
        <!--UPDATE sys_t_user_role-->
        <!--<set>-->
            <!--<if test="r_id != null and r_id !='' ">-->
                <!--r_id = #{r_id}-->
            <!--</if>-->
        <!--</set>-->
        <!--<where>-->
            <!--<if test="u_id != null and u_id !='' ">-->
                <!--AND u_id = #{u_id}-->
            <!--</if>-->
        <!--</where>-->
    <!--</update>-->

    <!--<insert id="addUrole" parameterType="java.util.Map">-->
        <!--INSERT INTO sys_t_user_role(u_id,r_id)-->
        <!--VALUES (#{u_id},#{r_id})-->
    <!--</insert>-->


    <!--<update id="resetPass" parameterType="java.util.Map">-->
        <!--UPDATE sys_t_user-->
        <!--<set>-->
            <!--<if test="password != null and password !='' ">-->
                <!--password = #{password}-->
            <!--</if>-->
        <!--</set>-->
        <!--<where>-->
            <!--<if test="u_id != null and u_id !='' ">-->
                <!--AND u_id = #{u_id}-->
            <!--</if>-->
        <!--</where>-->
    <!--</update>-->

</mapper>